<div class="container mt-5 mb-5">
  <h4 class="mt-5">Children List</h4>
  <div class="row">
   

    <div class="col-md-4">
      <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        Children List
      </a>
      <div class="list-group Btnoverflow">
        
        <a href="#" class="list-group-item list-group-item-action" *ngFor="let item of childrendata" (click)="getUserId(item.id)">{{item.name}}</a>  
      </div>
    </div>

    <div class="col-md-4" *ngIf="childswitch">
      <form class="row carding" [formGroup]="Childform">
          <div class="form-group align-center text-center">
            <img [src]="childImage" alt="Child Image" class="imgResponsive">
          </div>
          <div class="form-group">
            <label for="">Child Name</label>
            <input type="text" class="form-control" formControlName="childName">
          </div>
         
          <div class="form-group">
            <label for="">Child Telephone</label>
            <input type="text" class="form-control" formControlName="childTelephone">
          </div>

          <div class="form-group">
            <!-- <label for="">Child Telephone</label> -->
            <input type="hidden" class="form-control" formControlName="childId">
          </div>

          <div class="form-group">
            <label for="">Child Description</label>
            <textarea formControlName="description"  cols="30" rows="1" class="form-control"></textarea>
          </div>
      </form>
    </div>

 
  </div>

  <h4 class="mt-5">Adoptance List</h4>

  <div class="row"> 
    
    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
          Adoptance List
        </a>
        <a href="#" class="list-group-item list-group-item-action" *ngFor="let item of memberdata" (click)="getMembersId(item.id)">{{item.name}}</a>
      </div>
    </div>


    <div class="col-md-4 mb-5" *ngIf="memberswitch">
      <form class="row carding" [formGroup]="memberform">
        <div class="form-group align-center text-center">
          <img [src]="membersImage" alt="Child Image" class="imgResponsive">
        </div>
        <div class="form-group">
          <label for="">Child Name</label>
          <input type="text" class="form-control" formControlName="childName">
        </div>
       
        <div class="form-group">
          <label for="">Child Telephone</label>
          <input type="text" class="form-control" formControlName="childTelephone">
        </div>

        <div class="form-group">
          <!-- <label for="">Child Telephone</label> -->
          <input type="hidden" class="form-control" formControlName="memberId">
        </div>

        <div class="form-group">
          <label for="">Child Description</label>
          <textarea formControlName="description"  cols="30" rows="1" class="form-control"></textarea>
        </div>
    </form>
    </div>
  </div> 


  <div class="row">
    <div class="text-center">
      <button class="btn btn-outline-warning" (click)="OnMatchChild()">Match Child</button>
    </div>
  </div>

</div>
